# Ignorar archivos compilados
dist/
build/

# Ignorar dependencias
node_modules/

# Ignorar archivos de configuración
*.config.js
rollup.config.js

# Ignorar archivos CommonJS de scripts
*.cjs

# Ignorar archivos temporales
*.tmp
.cache/
